#about{
    .container{
        margin: 0 auto;
        .about-text{
            gap: 20px;
            span{
                color:#F45D96;
                letter-spacing: 1px;
                font-size: 20px;
            }
            p{
                color: rgb(104, 101, 101);
            }
        }
        .about-image{
            display: flex;
            width: 100%;
            img{
                width: 100%;
            }
            .text{
                padding: 50px;
                text-align: start;
                box-shadow: 5px 5px 15px  grey;
                span{
                    color: #F45D96;
                    font-weight: 600;
                }
                p{
                    color: rgb(104, 101, 101);
                }
                button{
                    background-color:#F45D96;
                    border-radius: 30px;
                    padding: 10px 20px;
                    color: white;
                }
            }
            @media screen  and (max-width:991px){
                flex-direction: column;
                gap: 10px;
                    .text{
                        width: 100%;
                    }
            }
        }
    }

}