  
.container{
    max-width: 1200px;
    margin: 0 auto; 
}
h1::selection{
    background-color: #F6214B;
    color: white;
}
p::selection{
    background-color: #F6214B;
    color: white;
}
h4::selection{
    background-color: #F6214B;
    color: white;
}
